<template
  data-name="type-education-item"
  data-props="
    roleName,
    startDate,
    endDate,
    alumniOf,
    description
  ">
  <details>
    <summary>
      <span class="education-item item" role="presentation">
        <span class="item-bullet" aria-hidden="true">
          ►
        </span>
        <span role="presentation">
          <span role="presentation">
            <span class="education-institution-name property-name" role="presentation">
              {{ alumniOf.name }}
            </span>
            <span hidden>
              —
            </span>
            <template v-if="alumniOf.address">
              <span
                class="education-institution-location property-organization-location"
                v-for="address in [ alumniOf.address ]"
                role="presentation">
                {{ address.addressLocality }}, {{ address.addressRegion }}
              </span>
            </template>
          </span>
          <span hidden>
            —
          </span>
          <span>
            <span class="education-roleName property-roleName" role="presentation">
              {{ roleName }}
            </span>
            <span hidden>
              —
            </span>
            <span
              class="property-dateRange"
              role="presentation">
              <span class="visually-hidden" role="presentation">
                {{ startDate }}
                <template v-if="startDate !== endDate">
                  through {{ (endDate || 'Present') }}
                </template>
              </span>
              <span aria-hidden="true">
                <time
                  :datetime="startDate"
                  class="work-startDate property-startDate">
                  {{ startDate }}<!--
                --></time><!--
                --><template v-if="startDate !== endDate"><!--
                  -->—<!--
                  --><time
                    :datetime="endDate || new Date().getFullYear()"
                    class="work-endDate property-endDate"><!--
                    -->{{ endDate || 'Present' }}
                  </time>
                </template>
              </span>
            </span>
          </span>
        </span>
      </span>
    </summary>
    <div class="education-description property-description" v-if="description">
      <p v-for="p in description">
        {{ p }}
      </p>
    </div>
	</details>
</template>