<template
	data-name="type-work-item"
	data-props="
	  roleName,
	  startDate,
	  endDate,
	  worksFor,
	  description,
	  open
	">
	<details :open="open">
		<summary>
			<span class="work-item item" role="presentation">
        <span class="item-bullet" aria-hidden="true">
          ►
        </span>
        <span class="item-inner" role="presentation">
          <span role="presentation">
            <template
              v-for="employer in [ worksFor ]"
              :key="employer.name">
              <span
                class="work-employer-name property-name"
                role="presentation">
                {{ employer.name }}
              </span>
              <span hidden>
                —
              </span>
              <template v-if="employer.address">
                <span
                  class="work-employer-location property-organization-location"
                  v-for="address in [ employer.address ]"
                  role="presentation">
                  {{ address.addressLocality }}, {{ address.addressRegion }}
                </span>
              </template>
            </template>
          </span>
          <span hidden>
            —
          </span>
          <span>
            <span class="work-roleName property-roleName" role="presentation">
              {{ roleName }}
            </span>
            <span hidden>
              —
            </span>
            <span
              class="property-dateRange"
              role="presentation">
              <span class="visually-hidden" role="presentation">
                {{ startDate }}
                <template v-if="startDate !== endDate">
                  through {{ (endDate || 'Present') }}
                </template>
              </span>
              <span aria-hidden="true">
                <time
                  :datetime="startDate"
                  class="work-startDate property-startDate">
                  {{ startDate }}<!--
                --></time><!--
                --><template v-if="startDate !== endDate"><!--
                  -->—<!--
                  --><time
                    :datetime="endDate || new Date().getFullYear()"
                    class="work-endDate property-endDate"><!--
                    -->{{ endDate || 'Present' }}
                  </time>
                </template>
              </span>
            </span>
          </span>
        </span>
			</span>
		</summary>
		<div class="work-description property-description" v-if="description">
      <p v-for="p in description">
        {{ p }}
      </p>
    </div>
	</details>
</template>
