* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

@page {
	size: letter;
  margin: 1in;
}

@media print {
	* {
    color: black;
  }
}

:root {
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	--swatch-text-color: black;
	--swatch-background-color: white;
	--swatch-alt-background-color: rgb(246, 191, 254, .5);
	--swatch-light-gray: #ddd;
	--swatch-dark-gray: #797979;
	--swatch-interactive: blue;
	--swatch-interactive-completed: purple;
	--swatch-focused: #63ADE5;
}

/*
@media (prefers-color-scheme: dark) {
	:root {
    --swatch-text-color: white;
    --swatch-background-color: #0b0b0b;
    --swatch-light-gray: #2e2e2e;
    --swatch-dark-gray: darkgray;
    --swatch-interactive: #81D9FE;
	  --swatch-interactive-completed: #BA55F1;
	}
}
*/

html,
body {
	overscroll-behavior: none;
}

body {
	background: var(--swatch-background-color);
	background-attachment: fixed;
	color: var(--swatch-text-color);
	font-size: large;
}

@media print {
  body {
    font-size: medium;
		line-height: 1.4;
  }
}

main {
	width: 100%;
	max-width: 680px;
	margin: 0 auto;
	padding: 10px;
}

@media (min-width: 480px) {
	main {     
	  padding: 20px 40px;
	} 
}

@media print {
  main {
    padding: 0;
    max-width: 100%;
	}
}

header,
section {
	padding: 20px;
}

@media (min-width: 480px) {
  header {
    text-align: center;
  }
}

@media print {
  header {
    padding-top: 0;
	}
}

/* hidden items */

[hidden] {
  display: none !important;
}

@media print {
	[data-hide-from-print] {
    display: none !important;
	}
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  visibility: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
}

/* focus styles */

:focus {
	outline: 4px solid var(--swatch-focused);
}

@media (pointer: coarse) {
	:focus {
		outline: 0;
	}
}

:focus:not(:focus-visible) {
	outline: 0;
}

:focus-visible,
summary:focus-visible > span {
	outline: 0;
	border-radius: 2px;
	box-shadow:
		0 0 0 2px var(--swatch-background-color),
		0 0 0 6px var(--swatch-focused);
}

summary:focus-visible {
	box-shadow: none;
	border-radius: 0;
}

/* headings */

h1,
h2,
h3 {
	font-weight: normal;
	line-height: inherit;
}

@media print {
  h1 {
    margin-top: 0;
	}
}

h2 {
	font-size: x-large;
	margin-bottom: .75em;
	padding-bottom: .25em;
	border-bottom: 1px solid var(--swatch-light-gray);
}

/* interactive items */

button {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  line-height: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  color: var(--swatch-interactive);
}

a,
button {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 2px;
}

a:not(:visited) {
	color: var(--swatch-interactive);
}

a:visited {
	color: var(--swatch-interactive-completed);
}

/* <details>/<summary> */

details {
  margin: 20px 0;
}

@media print {
  details {
    page-break-inside: avoid;
    padding: 0;
  }
}

details .property-description {
	border-bottom: 1px solid var(--swatch-light-gray);
}

details p {
	margin: 0 0 24px 0;
}

summary {
	cursor: pointer;
  border-bottom: 1px solid transparent;
	padding-bottom: 20px;
  list-style: none;
}

summary::marker {
	display: none;
}

summary::-webkit-details-marker {
	display: none;
}

details:not([open]) summary {
	border-bottom-color: var(--swatch-light-gray);
}

summary span {
  display: block;
}

@media print {
	summary {
		padding-bottom: 14px;
	}

	summary:before {
		display: none;
	}
}

.item {
	display: grid;
	color: var(--swatch-dark-gray);
	list-style: none;
	width: 100%;
	grid-template-columns: 20px minmax(0, 1fr);
	grid-column-gap: 4px;
}

.item:before {
	content: '►';
  font-family: Arial, Helvetica, sans-serif;
	color: var(--swatch-interactive);
	width: 20px;
	font-size: .9em;
	height: 20px;
	margin-top: 1px;
	transform-origin: 0 0;
}

details[open] .item:before {
	transform: rotate(90deg) translate(4px, -20px);
	color: var(--swatch-interactive-completed);
}

@media print {
	.item {
		grid-template-columns: 1fr;
	}

	.item:before {
		content: none;
	}
}

@media (min-width: 480px) {
	.item > span {
		display: grid;
		grid-column-gap: 4px;
		grid-template-columns: minmax(calc(50% - 4px), max-content) minmax(calc(50% - 4px), max-content);
		grid-template-rows: max-content max-content;
	}

	.item > span > span:last-of-type {
    text-align: right;
  }
}

/* lists */

.unstyled-list {
  list-style: none;
}

.links-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (min-width: 480px) {
  .link-item {
    line-height: 1;
    display: inline-grid;
  }

	.link-item:not(:last-of-type) {
    padding-right: 10px;
    border-right: 1px solid var(--swatch-dark-gray);
    margin-right: 10px;
  }
}

/* text styles */

.property-name {
	font-weight: bold;
	color: var(--swatch-text-color);
	letter-spacing: .5px;
}

.person-name {
  font-size: xx-large;
  font-weight: bold;
	display: block;
	letter-spacing: .5px;
}

@media (max-width: 479px) {
	.person-name {
		line-height: 1.2;
	}
}

.property-roleName,
.property-alternateName {
	color: var(--swatch-text-color);
}

.person-jobTitle {
  display: block;
  margin: 5px 0;
	color: var(--swatch-dark-gray);
  letter-spacing: 2px;
	text-transform: uppercase;
  font-size: x-large;
	line-height: 1;
}

.person-image {
  max-width: 100%;
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.person-description {
  font-size: 1.125em;
  margin: 20px 0;
}

@media print {
  .person-description {
    margin-bottom: 0;
  }
}

.work-description,
.education-description,
.skill-description {
	padding-left: 24px;
}

@media print {
  .work-description,
  .education-description,
  .skill-description {
    padding-left: 0;
  }
}