* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

@media print {
	* {
    color: black;
  }

	@page {
		size: letter;
		margin: .875in;
	}
}

:root {
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	--swatch-text-color: black;
	--swatch-background-color: white;
	--swatch-alt-background-color: rgb(246, 191, 254, .5);
	--swatch-light-gray: #ddd;
	--swatch-dark-gray: #797979;
	--swatch-interactive: blue;
	--swatch-interactive-completed: purple;
	--swatch-focused: #63ADE5;
}

/*
@media (prefers-color-scheme: dark) {
	:root {
    --swatch-text-color: white;
    --swatch-background-color: #0b0b0b;
    --swatch-light-gray: #2e2e2e;
    --swatch-dark-gray: darkgray;
    --swatch-interactive: #81D9FE;
	  --swatch-interactive-completed: #BA55F1;
	}
}
*/

html,
body {
	overscroll-behavior: none;
}

body {
	background: var(--swatch-background-color);
	background-attachment: fixed;
	color: var(--swatch-text-color);
	line-height: 1.4;
}

main {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 2em;
	display: grid;
	grid-gap: 4em;
}

@media print {
  main {
    padding: 0;
		max-width: 100%;
		grid-gap: 3em;
	}
}

header {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr;
	font-size: larger;
}

@media print, screen and (min-width: 640px) {
	header {
		grid-template-columns: max-content max-content 1fr;
	}
}

section {
	font-size: larger;
}

/* hidden items */

[hidden] {
  display: none !important;
}

@media print {
	[data-hide-from-print] {
    display: none !important;
	}
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
}

/* focus styles */

:focus {
	outline: 4px solid var(--swatch-focused);
}

@media (pointer: coarse) {
	:focus {
		outline: 0;
	}
}

:focus:not(:focus-visible) {
	outline: 0;
}

:focus-visible {
	outline: 0;
	border-radius: 2px;
	box-shadow:
		0 0 0 4px var(--swatch-focused);
}

/* headings */

h1,
h2,
h3 {
	font-weight: normal;
	line-height: inherit;
}

h1 {
	display: grid;
	align-content: stretch;
	align-items: center;
	justify-self: flex-start;
	font-size: larger;
	grid-row-gap: .5em;
}

@media screen and (min-width: 640px) {
	h1 {
		grid-row-gap: 0;
	}
}

h2 {
	line-height: 1;
	font-size: larger;
	padding-bottom: .5em;
	border-bottom: 1px solid var(--swatch-light-gray);
}

/* interactive items */

button {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  line-height: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  color: var(--swatch-interactive);
}

a,
button {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 2px;
}

a:not(:visited) {
	color: var(--swatch-interactive);
}

a:visited {
	color: var(--swatch-interactive-completed);
}

/* <details>/<summary> */

details {
	font-size: smaller;
}

details .property-description {
	border-bottom: 1px solid var(--swatch-light-gray);
}

details p {
	margin: 0 0 24px 0;
}

summary {
	cursor: pointer;
  border-bottom: 1px solid transparent;
	padding-bottom: 1em;
	padding-top: 1em;
  list-style: none;
}

summary::marker {
	display: none;
}

summary::-webkit-details-marker {
	display: none;
}

details:not([open]) summary {
	border-bottom-color: var(--swatch-light-gray);
}

summary span {
  display: block;
}

.item {
	display: grid;
	color: var(--swatch-dark-gray);
	list-style: none;
	width: 100%;
	grid-template-columns: max-content minmax(0, 1fr);
	grid-column-gap: 6px;
}

.item-bullet {
  font-family: Arial, Helvetica, sans-serif;
	color: var(--swatch-interactive);
	font-size: smaller;
	margin-top: 1px;
	transform-origin: 0 0;
}

details[open] .item-bullet {
	transform: rotate(90deg) translate(3px, -1em);
	color: var(--swatch-interactive-completed);
}

@media print {
	.item {
		grid-template-columns: 1fr;
	}

	.item-bullet {
		display: none;
	}
}

@media print, screen and (min-width: 640px) {
	.item-inner {
		display: grid;
		grid-column-gap: 1em;
		grid-template-columns: 1fr 1fr;
	}

	.item-inner > span:last-of-type {
    text-align: right;
  }
}

/* lists */

.unstyled-list {
	list-style: none;
}

@media screen and (max-width: 479px) {
  .links-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    grid-gap: 1em;
    width: 100%;
  }

  .link-item {
    display: grid;
    line-height: 1;
    border: 0;
  }

  .link-item a {
    display: grid;
    min-height: 48px;
    justify-content: center;
    align-content: center;
    border: 2px solid;
    border-radius: .5em;
    padding: .5em 1em;
  }

  .link-item a:hover {
    background-color: var(--swatch-interactive);
    color: var(--swatch-background-color);
  }
}

@media print, screen and (min-width: 480px) {
  .link-item {
    line-height: 1;
    display: inline-grid;
  }

	.link-item:not(:last-of-type) {
    padding-right: .5em;
    border-right: 1px solid var(--swatch-dark-gray);
    margin-right: .5em;
  }
}

/* text styles */

.person-sameAs {
	grid-column: 1 / -1;
	font-size: smaller;
	margin-top: 1em;
	margin-bottom: -1em;
}

.property-name {
	font-weight: bold;
	color: var(--swatch-text-color);
	letter-spacing: .5px;
}

.person-name {
  font-size: larger;
  font-weight: bold;
	display: block;
	letter-spacing: .5px;
	line-height: 1;
}

.person-name-inner {
	font-size: larger;
}

.property-roleName,
.property-alternateName {
	color: var(--swatch-text-color);
}

.person-jobTitle {
  display: block;
	color: var(--swatch-dark-gray);
  letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1;
}

.person-image {
  max-width: 100%;
  width: 4em;
  height: 4em;
  object-fit: cover;
  border-radius: 50%;
}

@media print, screen and (min-width: 640px) {
	.person-image {
		justify-self: flex-end;
	}
}

.person-description {
  font-size: larger;
  margin: 2em 0;
}

.work-description,
.education-description,
.skill-description {
	padding-left: 24px;
}

@media print {
  .work-description,
  .education-description,
  .skill-description {
    padding-left: 0;
	}
}

.property-dateRange span {
  display: inline;
}